@import url('https://fonts.googleapis.com/css2?family=Lato');

/* Reset de margens e espaçamentos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variáveis */
:root {
    --black: #000000;
    --greenelv:   #59f4b2;
    --greyelv: #242424;
    --greyelv-2: #1f1f1f;
    --orangeelv: #ff914d;
    --white: #FFFFFF;
}

/* Estilos globais */
html, body {
    height: 100%;
    font-family: 'Lato', sans-serif;
    /* background: url(images/fundo2.png) no-repeat center; */
    background-color: var(--greyelv-2);
    background-size: cover;
    background-attachment: fixed; /* Certifica que a imagem de fundo role junto com a página */
    overflow-x: hidden; /* Para evitar overflow horizontal */
    padding-top: 60px; /* Ajuste baseado na altura do header */
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 10px 0;
    background-color: var(--greyelv);
    width: 100%;
    z-index: 1000;
    position: fixed; /* Fixa o header no topo */
    top: 0;
    left: 0;
    height: 60px; /* Altura fixa do header */
}

/* Logo */
.box-img-header {
    height: 150%;
}

.img-logo {
    max-width: 70px;
    padding-bottom: 11px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
}

/* Navegação */
nav {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav-links {
    text-decoration: none;
    color: var(--white);
}

.nav-links:hover {
    color: var(--dark4);
    transition: 0.4s;
    text-decoration: underline;
}

/* Estilos gerais */
main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section {
    padding: 2rem;
}

/* Primeira seção */
.first-section {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    min-height: 650px;
}

.first-section > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 300px;
    padding: 5px;
}

/* Textos e botões */
h1 {
    font-size: 4rem;
    color: var(--white);
    letter-spacing: 5px;
    margin-top: -20%;
}

strong {
    color: var(--greenelv);
}

.first-section p, h3 {
    color: var(--white);
}

h2, .tittle, .title {
    color: var(--white);
}

.btn-action {
    background-color: var(--greenelv);
    border: 5px solid var(--greenelv);
    color: var(--greyelv);
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100px;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-action:hover {
    background-color: var(--greyelv );
    border: 1px solid var(--greyelv );
    color: var(--greenelv);
}

/* Imagens */
.box-img-main {
    max-width: 300px; /* Aumente o tamanho máximo para 800px */
    width: 100%;
    padding: 1rem;
}

.img-profile {
    width: 400px; /* Ajuste a largura para 100% para que a imagem se adapte ao container */
    height: 100%;
    max-width: 1000px; /* Aumente o tamanho máximo para 800px */
    padding-right: 40px;
    border-radius: 10%;
}

/* Segunda e quarta seção */
:is(.second-section, .fourth-section) {
    background-color: var(--greyelv);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.second-section ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.second-section ul li {
    color: var(--white);
    letter-spacing: 3px;
    font-weight: bold;
}

.second-section ul li:hover {
    color: var(--white);
    transition: 0.4s;
    cursor: pointer;
}

/* Terceira seção */
.third-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: #FFFFFF;
}

.third-section > div {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.third-section > div img {
    width: 250px;
}

.third-section > div p {
    max-width: 600px;
    text-align: justify;
}

/* Footer */
footer {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

footer > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

#my-projects-list {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

#my-projects-list a {
    text-decoration: none;
    color: var(--white);
}

#my-projects-list a:hover {
    color: var(--cyan1);
    transition: 0.4s;
    cursor: pointer;
}

/* Estilo para o pop-up */
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-content {
    background-color: var(--greyelv); /* Cor de fundo do pop-up */
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.popup-content h2 {
    color: var(--greenelv); /* Título na cor vermelha */
    margin-bottom: 10px;
}

.popup-content p {
    color: var(--white);
    margin-bottom: 20px;
}

.popup-button {
    background-color: var(--greenelv); /* Botão na cor vermelha */
    color: var(--greyelv);
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.popup-button:hover {
    background-color: var(--white); /* Efeito de hover mais escuro */
    color: var(--greenelv);
}

a {
    color: var(--greenelv);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Formulário */
#contact-form {
    max-width: 400px;
    margin: 1px auto;
    padding: 14px;
    background-color: var(--greenelv);
    border-radius: 10px;
    box-shadow: 0 0 15px #ffffff42;
}

#contact-form h2 {
    margin-top: 0;
    font-weight: bold;
    color: #000000;
}

#contact-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--greyelv);
}

#contact-form input[type="text"], 
#contact-form input[type="email"], 
#contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}

#contact-form input[type="text"]:focus,
#contact-form input[type="email"]:focus,
#contact-form textarea:focus {
    border-color: #27af2e;
    outline: none;
}

#contact-form button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contact-form button[type="submit"]:hover {
    background-color: #45a049;
}

/* Estilos para a mensagem de feedback */
.form-message {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    transform: translateY(20px);
    z-index: 1000;
}

.form-message.success {
    background-color: var(--greyelv);
    color: var(--greenelv);
}

.form-message.error {
    background-color: var(--greyelv);
}

.form-message.show {
    opacity: 1;
    transform: translateY(0);
}

/* Responsividade */
@media (max-width: 768px) {
    .first-section {
        flex-direction: column;
    }

    .img-profile {
        width: 70%;
        margin: 0 auto; /* Adicione essa linha para centralizar a imagem */
    }
}

/* Ajustes específicos para iOS */
@supports (padding-top: env(safe-area-inset-top)) {
    body {
        padding-top: calc(60px + env(safe-area-inset-top));
    }

    header {
        padding-top: env(safe-area-inset-top);
    }
}

/* Media query para dispositivos iOS com notch */
@media only screen and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    header {
        padding-top: env(safe-area-inset-top);
    }
}

.copy {
    color: white;
    margin-left: 55px;
    opacity: 10%;
}
